
/* =========================== contats =========================== */
.contats {
    background-color: #0C0E45;
    color: white;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 5px;
}

#contats_zap_tele {
    display: flex;
    flex-direction: row;
}

/* =========================== nav =========================== */
.nav{
    display: flex;
    flex-direction: column;

    background-image: url(images/home_image.svg);
    background-size: 100%;
}

.nav_all {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#nav_a{
    display: flex;
    gap: 30px;
}
/* =========================== info ============================== */
.info {
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 75px;
}

.info_s1 {
    display: flex;
    justify-content: space-around;
}

.info_s2 {
    display: flex;
    justify-content: space-around;
}

/* =========================== como trabalhamos ============================== */
.metodo_de_trab {
    display: flex;
    justify-content: center;
}

/* =========================== footer ============================== */
.footer {
    display: flex;
    justify-content: space-around;
}
.footer_contacts_icon {
    display: flex;
    flex-direction: row;
    gap: 5px;
}